# Worksheet 1B: Tuples
This worksheet corresponds to *Lesson 1B: Tuples and Tuple Operations* in the online course. Refer to that lesson as necessary to complete the practice activities here.

## Practice 1
Create a tuple that contains the following information:  
* Your first name 
* Your last name
* Your age
* The average number of miles you travel to work every day (round trip)

In [1]:
# your code here 
info = ("Sam", "Bristow", 22, 0)
print(info)

('Sam', 'Bristow', 22, 0)

## Practice 2
Create a tuple that contains a series of items and then calculate the length of the tuple.

You may use the code from Practice 1 above as a starting point if you wish.

In [2]:
# your code here
list_of_strings = ("Kate", "Jennifer", "Mike","Sam", "Tash")
print(len(list_of_strings))

5

## Practice 3
Fix the following code so all the information is displayed correctly.

In [3]:
# do not change the first line of code
info = ("Jonathan", "Vance", "679 Birchpond Street", "Merrillville", "IN", "46410", "219-555-4876") 
print(info)

# change the index values to produce the correct outputs
print("Last name: "+info[1])
print("First name: "+info[0])
print("Phone number: "+info[-1])
print("Street: "+info[2])
print("City: "+info[3])
print("State: "+info[-3])
print("Zip code: "+info[-2])

('Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', '46410', '219-555-4876')
Last name: Vance
First name: Jonathan
Phone number: 219-555-4876
Street: 679 Birchpond Street
City: Merrillville
State: IN
Zip code: 46410

## Practice 4
Use negative indexing to display all the items in the tuple below in alphabetical order.

In [4]:
info = ("Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson", "Van Buren")

# your code here
print(info[-3])
print(info[-7])
print(info[-2])
print(info[-6])
print(info[-5])
print(info[-4])
print(info[-1])
print(info[-8])

Adams
Adams
Jackson
Jefferson
Madison
Monroe
Van Buren
Washington

## Practice 5a
Update the code below so that each range references only one index value.

The output should not change.

In [5]:
info = ("Jonathan", "Vance", "679 Birchpond Street", "Merrillville", "IN", "46410") 

# we extract only the first two elements from the tuple and store them in a new tuple
name = info[:2]  
print("The name is:")
print(name)

# we extract only the last four elements from the tuple and store them in a new tuple
address = info[2:] 
print("The address is:")
print(address)

The name is:
('Jonathan', 'Vance')
The address is:
('679 Birchpond Street', 'Merrillville', 'IN', '46410')

## Practice 5b
The tuple below contains the abbreviation of all the states in the USA. 

Use slicing to create three new tuples: 
* One tuple that contains all states that start with N
* One tuple that contains all states that start with O
* One tuple that contains all states that start with A

In [7]:
states = ("AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY")

# your code here 
n_tuple = states[26:34]
o_tuple = states[34:37]
a_tuple = states[:4]

print(a_tuple)
print(n_tuple)
print(o_tuple)

('AL', 'AK', 'AZ', 'AR')
('NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND')
('OH', 'OK', 'OR')

## Practice 6
Attempt each of the following tasks on the tuple defined below:
* Add an integer representing Jonathan's age as the last item in the tuple.
* Add the Zip code "46410" between the state and phone number.
* Remove the phone number from the tuple.
Attempt each of the tasks individually, run the code to see what happens, and then attempt the next task in the list.

**Challenge**: Change the code so that the data is stored as a list rather than as a tuple and attempt each of the tasks again.

In [9]:
info = ["Jonathan", "Vance", "679 Birchpond Street", "Merrillville", "IN", "219-555-4876"] 
print(info)

info.append(25)
info.insert(5,46410)
info.remove("219-555-4876")

print(info)

['Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', '219-555-4876']
['Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', 46410, 25]

## Practice 7
Create three tuples: 
* One tuple with a person's first name and last name
* A second tuple with the person's complete address
* A third tuple with contact information, such as a phone number and an email address

Combine all tuples into a new, single tuple that contains all of the items from the original tuples.

In [10]:
# your code here
name = ("Sam", "Bristow")
address = ("1 Main Street","London")
contact_info = ("0123456789", "Sam@Bristow.com")

full_details = name + address + contact_info
print(full_details)

('Sam', 'Bristow', '1 Main Street', 'London', '0123456789', 'Sam@Bristow.com')